[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"



[packages]
gensim = "4.3.3"
pandas = "2.2.2"
gdown = "5.2.0"
scikit-learn = "1.7.2"
ipywidgets = "7.7.2"
notebook = "6.5.7"
jupyter="1.1.1"
jupyterlab ="4.4.9"
ipykernel = "6.17.1"
nbconvert = "7.16.6"
nbformat = "5.10.4"
nltk = "3.9.1"
spacy = "3.8.7"
jinja2 = "3.1.6"
traitlets = "5.7.1"
mistune = "3.1.4"
markdown-it-py = "4.0.0"
mdit-py-plugins = "0.5.0"
mdurl = "0.1.2"
bleach = "6.2.0"
tinycss2 = "1.4.0"
webencodings = "0.5.1"
pandocfilters = "1.5.1"
Pygments = "2.19.2"
numpy = "1.26.4"


[dev-packages]

[requires]
python_version = "3.12"
